<h1> Hello <%= @user.username %> </h1>
<% if @user.posts %>
    <% @user.posts.each do |post| %>
        <%= link_to post.title, user_post_path(@user, post) %><br>
    <% end %>
<% end %>
<br>
<%= link_to "Create a Post", new_user_post_path(@user) %><br>
